app.slideshow/src/main/java/applications/slideshow/storage/slideshow.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="path" type="xs:string"/>
  <xs:element name="directory">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="path"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="directories">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="directory" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="slideshows">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="slideshow" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="slideshow">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element ref="directories"/>
        <xs:element ref="slideshows"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="slideshows"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>